.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom {
  display: none !important;
}

.locate-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.locate-button:hover {
  background-color: #f0f0f0;
}
